.toolbar-background{
  background-color: #0066cc;
}

.toolbar-title{
  text-align: center;
  color: white;
  font-family: roboto;
  font-size: 1.5em;
}

.button-md{
  text-align: center;
  margin: 0 auto;
  margin: 0 40%;
}

.list-md{
  margin-top: 30%;
}

.back-button{
  display: none;
}