.toolbar-background{
  background-color: color($colors, azul);;
}

.login-content{
  background-color: #fcfcfc;
}

.login-logo{
  margin: 10% 27%;
  width: 140px;
  height: 120px;
  background-color: transparent;
}

.login-title{
  text-align: center;
  color: white;
  font-family: roboto;
  font-size: 1.125em;
}

.login-input{
  background-color: #fcfcfc;
}

.login-button{
  background-color: #ffa500;
  text-align: center;
  margin: 0 auto;
  margin: 0 40%;
}

.back-button{
  display: none;
}