<ion-header>
  <ion-navbar class="home-navbar">
    <ion-title>
      Avisos Gerais <ion-icon name="md-add-circle" (click) = "navega()"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-slides pager>

  <ion-slide class="scroll" *ngFor='let aviso of avisos'>
    <ion-card *ngFor='let aviso of avisos' class="card">
      <ion-card-header>
        <h1 class="title-card">{{aviso.title}}</h1>
      </ion-card-header>
      <ion-card-content>
        {{aviso.description}}
      </ion-card-content>
    </ion-card>
  </ion-slide>

</ion-slides>
