@font-face {
  font-family: roboto;
  src: url('Roboto-Regular.ttf');
}

.home-navbar{
  background-color: color($colors, azul);
}

.toolbar-title{
  text-align: center;
  color: white;
  font-family: roboto;
  font-size: 1.5em;
}

.card{
  color: color($colors, dark);
  background-color: #fcfcfc;
  font-family: roboto;
  font-size: 1.3em;
  text-transform: capitalize;
}

.title-card{
  color: #cc8400 !important;
}

.scroll{
  overflow-y: scroll;
  padding-top: 440px;
  background-color: #ccc;
}
