<ion-header>
  <ion-navbar>
    <ion-title class="titulo">
      Avisos Gerais
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-slides pager>
  <!-- <ion-list>
    <button ion-item *ngFor='let tweet of tweets' (click)="goToBrasil(tweet)">{{tweet.conteudo}}</button>
  </ion-list> -->
  <ion-slide *ngFor='let aviso of avisos'>
    <ion-card *ngFor='let aviso of avisos'>
      <ion-card-header>
        <h1>{{aviso.id}}</h1>
      </ion-card-header>
      <ion-card-content>
        {{aviso.conteudo}}
      </ion-card-content>
    </ion-card>
  </ion-slide>
<!--
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <h1>Aviso Geral</h1>
      </ion-card-header>
      <ion-card-content>
        BatataBatataBatataBatataBatataBatataBatataBatataBatataBatata
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        <h1>Aviso Presidência</h1>
      </ion-card-header>
      <ion-card-content>
        BatataBatataBatataBatataBatataBatataBatataBatataBatataBatata
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        <h1>Aviso GP</h1>
      </ion-card-header>
      <ion-card-content>
        BatataBatataBatataBatataBatataBatataBatataBatataBatataBatata
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        <h1>Aviso Financeiro</h1>
      </ion-card-header>
      <ion-card-content>
        BatataBatataBatataBatataBatataBatataBatataBatataBatataBatata
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        <h1>Aviso Projetos</h1>
      </ion-card-header>
      <ion-card-content>
        BatataBatataBatataBatataBatataBatataBatataBatataBatataBatata
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        <h1>Aviso Marketing</h1>
      </ion-card-header>
      <ion-card-content>
        MarketingMarketingMarketingMarketingMarketingMarketingMarketing
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <h1 class="nome-aviso">Aviso Marketing 2</h1>
      </ion-card-header>
      <ion-card-content>
        MarketingMarketingMarketingMarketingMarketingMarketingMarketing
      </ion-card-content>
    </ion-card>
  </ion-slide> -->
</ion-slides>
